.float-Wrapper {
  z-index: 2;
  background: white;
  display: flex;
  justify-content: space-around;
  border-radius: 17px;
  align-items: center;
  height: 3.5rem;
  padding: 0px 20px 1px 2px;
}

.float-img {
  transform: scale(0.4);
}

.float-Wrapper span {
  font-size: 16px;
  font-family: sans-serif;
}

.coolEmoji {
  transform: scale(1.25);
  top: -20%;
  left: -20%;
}
