.i-Wrapper {
  display: flex;
  height: 80vh;
  margin-top: 6rem;
}

.i-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.i-left h1 {
  margin: 0;
}

.i-info > :nth-child(1) {
  color: var(--black);
  font-size: 3rem;
  font-weight: bold;
}
.i-info > :nth-child(2) {
  color: var(--orange);
  font-size: 3rem;
  font-weight: bold;
}

.i-info p {
  color: var(--gray);
  width: 80%;
}

.i-button {
  width: 70px;
  height: 25px;
}
.i-links {
  display: flex;
}
.i-links img {
  transform: scale(0.5);
}
.i-links img:hover {
  cursor: pointer;
}

.i-right {
  flex: 1;
  position: relative;
}

.i-right > * {
  position: absolute;
  z-index: 1;
}

.i-right > :nth-child(1) {
  transform: scale(0.98);
  z-index: 2;
  top: -14.1%;
  left: -4%;
  border-radius: 15% 15% 15% 50%;
}
.i-right > :nth-child(2) {
  transform: scale(0.75);

  top: -4.6rem;
  left: -3rem;
}
.i-right > :nth-child(3) {
  transform: scale(0.75);
  top: -15%;
  left: -9%;
}

.i-right > :nth-child(4) {
  transform: scale(0.62);
  top: -19%;
  left: -24%;
  border-radius: 50%;
  padding: 0;
}
.floatingDiv {
  top: -8%;
  right: 3%;
  box-shadow: var(--boxShadow);
}

.floatingDiv2 {
  bottom: 30%;
  left: 4%;
  box-shadow: var(--boxShadow);
  z-index: 3;
}

.i-blur {
  top: -10%;
  right: 0%;
}

.i-blur2 {
  bottom: 3%;
  left: -25%;
}

@media screen and (max-width: 480px) {
  .i-Wrapper {
    flex-direction: column;
    height: 180vh;
  }

  .i-right {
    left: -3.5rem;
    transform: scale(0.66);
  }

  .blur,
  .blur2 {
    display: none;
  }
  .floatingDiv {
    top: -9rem !important;
  }

  .i-right > :nth-child(1) {
    left: 50px;
    border-radius: 15% 15% 20% 30%;
  }
}
