:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --blueCard: #ddf8fe;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}

.button {
  padding: 11px 26px;
  color: white;
}

.button {
  padding: 8px 26px;
  color: white;

  background: linear-gradient(
    90deg,
    rgba(247, 131, 5, 1) 0%,
    rgba(255, 168, 3, 0.8743872549019608) 35%,
    rgba(251, 206, 21, 0.9528186274509804) 100%
  );

  /* -webkit-box-shadow: 33px 34px 40px -18px rgba(234, 151, 34, 0.86);
  -moz-box-shadow: 33px 34px 40px -18px rgba(239, 148, 21, 0.86); */
  box-shadow: 2px 8px 30px 2px rgb(255, 199, 95);

  border: none;
  border-radius: 26px;
}

.button:hover {
  color: var(--orange);
  background: white;
  border: 1px solid var(--orange);
  cursor: pointer;
}

.blur {
  height: 14rem;
  width: 22rem;
  filter: blur(72px);
  border-radius: 50%;
  background-color: #edd0ff;
  z-index: -1;
}

.blur2 {
  height: 14rem;
  width: 22rem;
  filter: blur(72px);
  border-radius: 50%;
  background-color: #c1f5ff;
  z-index: -1;
}
